@use "../abstarcts" as *;
@use "../base" as *;

#services {
  padding-block: $section-padding;
  & > .container {
    margin-top: $section-padding;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 550px));
    gap: 40px;
    article {
      display: grid;
      gap: 40px;
      justify-items: center;
      grid-template-columns: min-content minmax(0, 550px);
      i {
        margin-top: 5px;
        font-size: 50px;
        @include mq("md") {
          font-size: 30px;
        }
      }
      .text {
        h2 {
          margin-bottom: 10px;
          color: $primary-color;
        }
        p {
          color: $light-color;
          line-height: 2;
          max-width: 445px;
        }
        @include mq("md") {
          h2 {
            font-size: 20px;
          }
          p {
            line-height: 1.6;
            font-size: 14px;
          }
        }
        @include mq("sm") {
          max-width: 350px;
        }
      }
      @include mq("lg") {
        gap: 20px;
      }
    }
    @include mq("lg") {
      justify-items: end;
      grid-template-columns: 1fr;
    }
  }
  & > .holder {
    position: relative;
    margin-top: 30px;
    height: 60vh;
    overflow: hidden;
    .container {
      @extend %float-text;
      z-index: 1;
      right: 0;
      .text {
        h2 {
          margin-bottom: 20px;
          font-size: 22px;
          text-align: start;
        }
        div {
          display: flex;
          flex-direction: column;
          gap: 10px;
          p {
            font-weight: 500;
            text-align: start;
            font-size: 16px;
            padding-left: 20px;
            position: relative;
            &::before {
              font-family: "Font Awesome 6 Free";
              content: "\e163";
              font-weight: 900;
              position: absolute;
              font-size: 16px;
              left: -10px;
            }
          }
        }
      }
    }
    .image-top {
      img {
        left: 10%;
        top: 30%;
        @include mq("lg") {
          top: -50%;
          left: -10%;
          transform: rotate(325deg);
        }
      }
    }
    .image-bottom {
      img {
        visibility: hidden;
        @include mq("lg") {
          visibility: visible;
          bottom: -50%;
          right: -10%;
          transform: rotate(325deg);
        }
      }
    }
    .image-top,
    .image-bottom {
      img {
        position: absolute;
        width: 338px;
        height: 462px;
        @include mq("lg") {
          z-index: -1;
        }
      }
      @include mq("md") {
        display: none;
      }
    }
  }
}
