@use "../abstarcts" as *;
// Base
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #222;
  font-family: $fontFamily;
}

a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
  width: 1140px;
  @include mq("sm") {
    width: 100%;
  }
  @include mq("md") {
    max-width: 640px;
    width: 90%;
  }
  @include mq("lg") {
    max-width: 768px;
  }
  @include mq("xl") {
    max-width: 992px;
  }
}
