---
import Title from "./Title.astro";
---

<div id="contact">
  <Title title="Contact us" />
  <div class="container">
    <form class="form">
      <input type="text" placeholder="Your Name" />
      <input type="email" placeholder="Your Email" />
      <textarea placeholder="Your Message"></textarea>
      <button type="submit">SEND MESSAGE</button>
    </form>
    <div class="holder">
      <div class="field">
        <h3>Get in touch</h3>
        <ul>
          <li>+00 (123) 456 78 90</li>
          <li>+00 (987) 654 32 10</li>
        </ul>
      </div>
      <div class="field">
        <h3>WHERE WE ARE</h3>
        <ul>
          <li>Awesome Address, 17</li>
          <li>New York, NYC</li>
          <li>010-020-0340</li>
          <li>USA</li>
        </ul>
      </div>
    </div>
  </div>
</div>
