---
// import Image from "astro/components/Image.astro.jsx";
// import { Image } from "astro:assets";

import { Image } from "astro:assets";
---

<header>
  <div class="container">
    <div class="logo">
      <Image src="/logo.png" alt="Kasper logo" width={124} height={40} />
    </div>
    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#protfolio">Portfolio</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div class="burger-icon"></div>
      <!-- fa searsh icon -->
      <i class="fas fa-search"></i>
    </nav>
  </div>
</header>
