---
import { Image } from "astro:assets";
---

<header>
  <div class="container">
    <div class="logo">
      <Image
        src="https://ik.imagekit.io/nakedavocado/tr:w-124,h-40/pj2/logo.png"
        alt="Kasper logo"
        width={124}
        height={40}
      />
    </div>
    <nav>
      <ul id="menu" class="hidden">
        <li><a class="nav-link" class="active" href="#home">Home</a></li>
        <li><a class="nav-link" href="#services">Services</a></li>
        <li><a class="nav-link" href="#protfolio">Portfolio</a></li>
        <li><a class="nav-link" href="#about">About</a></li>
        <li><a class="nav-link" href="#pricing">Pricing</a></li>
        <li><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
      <div id="menu-btn" class="burger-icon hidden">
        <div></div>
      </div>
      <!-- fa searsh icon -->
      <i class="fas fa-search"></i>
    </nav>
  </div>
</header>
