---
import Title from "./Title.astro";
---

<div id="pricing">
  <Title title="Pricing" />
  <div class="container grid">
    <article>
      <div class="head">
        <h3>Basic</h3>
        <div class="price">
          <span class="currency">&dollar;</span>
          <span class="number">19</span>
          <span class="duration">/mo</span>
        </div>
      </div>
      <ul>
        <li>Feature No 1</li>
        <li>Extra Feature</li>
        <li>Extra Feature No 2</li>
        <li>Feature</li>
      </ul>
      <button>Buy Now</button>
    </article>

    <article>
      <div class="head">
        <h3>Standard</h3>
        <div class="price">
          <span class="currency">&dollar;</span>
          <span class="number">29</span>
          <span class="duration">/mo</span>
        </div>
      </div>
      <ul>
        <li>Feature No 1</li>
        <li>Extra Feature</li>
        <li>Extra Feature No 2</li>
        <li>Feature</li>
      </ul>
      <button>Buy Now</button>
    </article>

    <article>
      <div class="head">
        <h3>Premium</h3>
        <div class="price">
          <span class="currency">&dollar;</span>
          <span class="number">39</span>
          <span class="duration">/mo</span>
        </div>
      </div>
      <ul>
        <li>Feature No 1</li>
        <li>Extra Feature</li>
        <li>Extra Feature No 2</li>
        <li>Feature</li>
      </ul>
      <button>Buy Now</button>
    </article>

    <article>
      <div class="head">
        <h3>Ultimate</h3>
        <div class="price">
          <span class="currency">&dollar;</span>
          <span class="number">49</span>
          <span class="duration">/mo</span>
        </div>
      </div>
      <ul>
        <li>Feature No 1</li>
        <li>Extra Feature</li>
        <li>Extra Feature No 2</li>
        <li>Feature</li>
      </ul>
      <button>Buy Now</button>
    </article>
  </div>
</div>
