---
const { title } = Astro.props;
---

<div class="title">
  <div class="container">
    <h1>{title}</h1>
    <p>
      Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris
      blandit aliquet elit, eget tincidunt.
    </p>
  </div>
</div>
